<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webDisk</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>DiskServlet.shtml</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DiskServlet</servlet-name>
    <servlet-class>com.snowalker.web.DiskServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiskServlet</servlet-name>
    <url-pattern>/DiskServlet.shtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DirServlet</servlet-name>
    <servlet-class>com.snowalker.web.DirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirServlet</servlet-name>
    <url-pattern>/DirServlet.shtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.snowalker.web.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/QueryServlet.shtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReaderServlet</servlet-name>
    <servlet-class>com.snowalker.web.ReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderServlet</servlet-name>
    <url-pattern>/ReaderServlet.shtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OperateServlet</servlet-name>
    <servlet-class>com.snowalker.web.OperateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperateServlet</servlet-name>
    <url-pattern>/OperateServlet.shtml</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>WriterServlet</servlet-name>
    <servlet-class>com.snowalker.web.WriterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriterServlet</servlet-name>
    <url-pattern>/WriterServlet.shtml</url-pattern>
  </servlet-mapping>
</web-app>